NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEMO_MODE=true
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_SECRET_KEY=
CINETPAY_MODE=sandbox
CINETPAY_NOTIFY_URL=http://localhost:3000/api/webhooks/cinetpay
CINETPAY_RETURN_URL=http://localhost:3000/paiement/retour
